<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.cioscarr">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.splashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.Register">
            android:label = "Second Activity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.cioscarr.Activity.Login" />
        </activity>
        <activity
            android:name=".Activity.main_navDrawer"
            android:label="@string/title_activity_booking"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.driver_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.reservation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.payment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.booking_summary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.Login" />
        <activity
            android:name=".Activity.Booking_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Choose_car"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.Supplier_list" />
        <activity android:name=".Activity.add_supplier" />
        <activity android:name=".Activity.Car_list" />
        <activity android:name=".Activity.add_car" />
        <activity
            android:name=".Activity.dbArchitecture"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.recycleView" />
        <activity android:name=".Activity.booking_history_recycle"
            android:theme="@style/AppTheme.NoActionBar"
           /> >
    </application>

</manifest>